
@import '../helpers'
.root
    bottom: 0
    width: 100%
    min-height: 80px
    color: rgb(0, 0, 0)
    background: linear-gradient( #C1C1C1,#C6C6C6 ) !important
    padding-bottom: 8px
    z-index: 1000

.root1
    bottom: 0
    width: 100%
    min-height: 60px
    color: rgb(255, 255, 255)
    background-color: #302323
    padding-bottom: 8px
    z-index: 1000

.logoImg
    width: 60%
    margin-bottom: 0px
    cursor: pointer
    +xs
        margin: 0px 45px
    +s
        margin: 0px 45px
.contentSection
    display: flex
    align-items: center
    padding: 60px 0px
    gap: 20px
    bottom: 0
    margin: 0 60px
    +xs
        flex-direction: column
        align-items: start
    +s
        flex-direction: column
        align-items: start
        margin: 45px

.copyRight
    color: white

    span
        color: #26acd7
.footertext
    +commonFont
    font-size: 16px
    font-weight: 400
    margin: 25px 0
    gap: 12px
    display: flex
    color: black
    +sm
        font-size: 16px
.footertext1
    +commonFont
    font-size: 18px
    font-weight: 400
    margin: 25px 0
    gap: 12px
    display: flex
    color: white
.heading
    +commonFont
    font-size: 22px
    margin-bottom: 15px
    font-weight: 600
    color: black
    +sm
        font-size: 19px
.heading1
    +commonFont
    font-size: 28px
    margin-bottom: 15px
    font-weight: 700
    color: white
.container
    display: flex
    justify-content: space-evenly
    margin: 0 auto
    max-width: 1350px
.subtext
    +commonFont
    font-size: 19px !important
    font-weight: 400 !important
    color: #202020
    width: 276px
    +sm
        width: 100%
.subtext1
    +commonFont
    font-size: 20px !important
    font-weight: 400 !important
    color: #ffffff
    width: 398px
.icons
    color: black
.icons1
    color: white
.imgtext
    display: flex
    flex-direction: column
    gap: 23px
    width: 30%
    +s
        width: 100%

.socialicons
    display: flex
    gap: 25px
    font-size: 24px
.links
    display: flex
    gap: 60px
    +sm
        display: flex !important
        flex-direction: column
        // margin-top: 20px !important
    +s
        display: flex !important
        flex-direction: column
        gap: 12px
    +xs
        display: flex
        flex-direction: column
        gap: 16px
        margin-top: 20px
.links1
    width:195px !important
    +s
        width:270px !important
.links2
    width:158px !important
    +s
        width:270px !important
.links3
    width:158px !important
    +s
        width:270px !important
.links4
    width:158px !important
    +s
        width:270px !important