@import "../../app/helpers"
.homevideo
    // width: 100%
    // height: 90vh 
    margin: 0px 42px
.homehead
    color: #000
    position: absolute
    top: 210px
    +commonFont
.homehead1
    width: 56%
    font-size: 50px
    font-weight: 400
    padding: 0px 300px 3px 273px
    text-align: center
    +commonFont
.homeimg
    width: 100%
    height: 82vh
    padding-bottom: 5px
    margin: 0px
.subhead
    display: flex
    padding: 22px 250px
.subhead1
    width: 275px
    font-size: 24px
    border-right: 2px solid #000
    text-align: center

.subhead2
    width: 287px
    font-size: 24px
    border-right: 2px solid #000
    text-align: center
.subhead3
    width: 287px
    font-size: 24px
    text-align: center
    left: before
    // background: linear-gradient(to right,rgba(250,249,248,.95) 45%,rgba(250,249,248,0) 75%,rgba(250,249,248,0) 50%)
    // content: ""
    // position: absolute
    // top: 0
    // left: 0
    // right: 0
    // bottom: 0
    // background: rgba(250,249,248,.9)
.homeimg1
    width: 100%
    height: 68vh
    position: absolute
// .text1
//     background-image: url("../../../public/Images/bg.png") !important
//     width: 10%
//     height: 10vh
//     padding: 20px
.homepart
    display: flex
    padding: 10px 0px
    padding-bottom: 25px
.homepart1
    display: flex
    flex-direction: column
    width: 67%
    position: sticky
.homeimg11
    width: 33%
    height: 68vh
    position: absolute
    left: 67%
.hmimg11
    width: 100%
    height: 68vh
    position: absolute
.headtext1
    +commonFont
    position: relative
    padding: 24px 35px
    width: 96%
    height: 60.7vh
    text-align: left
    flex-direction: column
    align-items: right
    display: flex
    transform: translate3d(0, 15%, 27)
    z-index: 5
    gap: 30px
    background: linear-gradient(to right,rgba(250,249,248,.95) 45%,rgba(250,249,248,0) 75%,rgba(250,249,248,0) 50%)
    background-blend-mode: overlay
.headtext12
    font-size: 38px
    color: #ff7800
    width: 58%
    padding: 10px 5px
    // text-shadow: 0 0 0px #000
.headtext13
    font-size: 20px
    line-height: 32px
    font-weight: 400
    width: 42%
    padding: 0px 5px
.headtext14
    +commonItalic
    padding: 53px 84px
    font-size: 41px
    color: #ff7800

.homeimg21
    width: 558px
    height: 572px
    padding: 22px 46px
.homeimg2
    width: 50%

.hometext2
    display: flex
    width: 100%
.hometext21
    display: flex
    flex-direction: column
    width: 50%
.text21
    font-size: 16px
    font-weight: 700
    color: #ff7800
    +commonBold
    padding: 6px 0px
.text22
    font-size: 50px
    font-weight: 400
    color: #0a0a0a
    +commonFont
    padding: 0px 0px
.text23
    padding: 20px 0px
    font-size: 20px
    line-height: 30px
    color: #0a0a0a
    +commonFont

.text24
    // padding: 30px 0px
    font-size: 20px
    line-height: 30px
    color: #0a0a0a
    +commonFont

.text25
    font-size: 24px
    padding-top: 12px
    +commonBold
.text26
    font-size: 16px
    padding-top: 7px
    margin-left: 22px
    color: #ff7800
    +commonBold
.greaticon
    font-size: 14px
    margin-right: 6px
    color: #6a6a6a
