@import "../../app/helpers"
.homevideo
    // width: 100%
    // height: 90vh 
    margin: 0px 42px
.homehead
    color: #000
    position: absolute
    top: 210px
    +commonFont
.homehead1
    width: 56%
    font-size: 50px
    font-weight: 400
    padding: 40px 300px
    text-align: center
    +commonFont
.homeimg
    width: 97%
    height: 100vh
    padding: 20px
    padding-top: 5px
.subhead
    display: flex
    padding: 22px 250px
.subhead1
    width: 275px
    font-size: 24px
    border-right: 2px solid #000
    text-align: center

.subhead2
    width: 287px
    font-size: 24px
    border-right: 2px solid #000
    text-align: center
.subhead3
    width: 287px
    font-size: 24px
    text-align: center
